
html,body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
core-toolbar {
  background-color: #03a9f4;
  color: white;
}

paper-menu {
  height:100vh;
  max-height: 100%;
}

paper-menu, paper-toolbar {
  a {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:active, &:hover, &:focus {
      color: white;
      text-decoration: none;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
}

paper-button {

}

paper-card {
  margin: 16px;
  background: none;
  & >paper-material {
    background: white;
  }
  .card-actions {
    a {
      color: #000;
      text-decoration: none;
    }
  }
}
